# Продвинутый Python
## Тема 6: Функции и работа с данными

Датафрейм - это таблица

Метод apply - аналог цикла, который проходит ко всем строкам датафрейма и применяет к каждой функцию

Два режима использования:
1. Передаются значения одного столбца
2. Передается вся строка целиком

Строка в Pandas - датафрейм из одной строки

In [6]:
import pandas as pd
df = pd.DataFrame(
    {
        'user_id': [1, 2, 3],
        'clicks': [163, 130, 97],
        'orders': [2, 4, 0]
    }
)

In [7]:
# Определить, кто покупает, а кто только смотрит
def watcher(param):
    return param == 0

In [9]:
# Реализация метода apply (один столбец)
df['wather'] = df['orders'].apply(watcher)
df.head()

   user_id  clicks  orders  wather
0        1     163       2   False
1        2     130       4   False
2        3      97       0    True

In [10]:
# Определить конверсию (вся строка)
def conversion(row):
    return row['orders'] / row['clicks']

In [12]:
# axis=1 - в функцию будет передана строка
# axis=0 - будет передан столбец (по умолчанию)
df['conversion'] = df.apply(conversion, axis=1)
df.head()

   user_id  clicks  orders  wather  conversion
0        1     163       2   False    0.012270
1        2     130       4   False    0.030769
2        3      97       0    True    0.000000

In [109]:
stats = pd.read_excel('Files/ad_campaigns.xlsx')
stats.head()

,Название группы,Фраза (с минус-словами),Продуктивность,ID объявления,Заголовок,Текст,Ссылка
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...

In [110]:
# Русскоязычные заголовки столбцов желательно преименовать
stats.columns = ['group', 'phrase', 'effect', 'ad_id', 'title', 'text', 'link']
stats.head()

,group,phrase,effect,ad_id,title,text,link
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...

###  Лямбда-функции
Хотим посчитать распределение количества в столбце с фразами

In [17]:
phrase = "МРТ на Менделеевской от 2000"

# Обычная функция
def word_count(phrase):
    return len(phrase.split(' '))
word_count(phrase)

# lambda-функция
word_count_l = lambda phrase: len(phrase.split(''))

In [20]:
stats['word_count'] = stats['phrase'].apply(lambda word: len(word.split(' ')))
stats.head(1)

,group,phrase,effect,ad_id,title,text,link,word_count
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2

In [22]:
stats['word_count'] = stats.apply(lambda x: len(x['phrase'].split(' ')), axis=1)
stats.head(1)

,group,phrase,effect,ad_id,title,text,link,word_count
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2

### Произвольные функции
В URL кампаний есть названия. С этим надо что-то делать

In [26]:
# Обращение к индексу и значениям Series
res = stats.word_count.value_counts()
res.head(3)

word_count
3    1129
4     529
2     189
Name: count, dtype: int64

In [28]:
res.index[0], res.values[0]

(3, 1129)

In [30]:
url = stats.loc[0, 'link']
url

'https://awesome-site.ru/?utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}'

In [34]:
# Парсинг ссылки (разбиение на составляющие)
from urllib import parse
print(parse.urlsplit('https://ya.ru/news/sport?search=footbal#abc'))
parse.urlsplit('https://ya.ru/news/sport?search=footbal#abc').query

SplitResult(scheme='https', netloc='ya.ru', path='/news/sport', query='search=footbal', fragment='abc')

'search=footbal'

In [36]:
parsed = parse.urlsplit(url)
parsed

SplitResult(scheme='https', netloc='awesome-site.ru', path='/', query='utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}', fragment='')

In [37]:
# Можно и вручную (плохой вариант)
parsed.query.split('&')[2].split('=')[1]

'a825749b87'

In [39]:
params = parse.parse_qs(parsed.query)
params

{'utm_source': ['yandex'],
 'utm_medium': ['cpc'],
 'utm_campaign': ['a825749b87'],
 'utm_content': ['dev_{device_type}']}

In [44]:
params['utm_campaign'][0]

'a825749b87'

In [48]:
# Оборачиваем все в функцию
def campaign_name(row):
    parsed = parse.urlsplit(row['link'])
    params_dict = parse.parse_qs(parsed.query)
    return params_dict['utm_campaign'][0]

In [53]:
stats['campaign'] = stats.apply(campaign_name, axis=1)
stats.head(3)

,group,phrase,effect,ad_id,title,text,link,word_count,campaign,power_up
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,a825749b87,91.125
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,a825749b87,91.125
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,6,a825749b87,405.224

In [54]:
# Как передать несколько аргументов
def power_up(row, n):
    return row['effect'] ** n
stats['power_up'] = stats.apply(power_up, n=3, axis=1)
stats.head(3)

,group,phrase,effect,ad_id,title,text,link,word_count,campaign,power_up
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,a825749b87,91.125
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,a825749b87,91.125
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,6,a825749b87,405.224

In [55]:
def mrt(row):
    if ('мрт' not in row['group']) and ('24 часа' in row['text']):
        return True
    return False

In [59]:
stats['mrt'] = stats.apply(mrt, axis=1)
stats.head(1)

,group,phrase,effect,ad_id,title,text,link,word_count,campaign,power_up,mrt
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,a825749b87,91.125,False

In [60]:
stats.mrt.value_counts()

mrt
False    2120
True       39
Name: count, dtype: int64

### Group by (Группировка)
Группировка - подсчет определенной метрики для каждого уникального значения заданного столбца

Алгоритм расчета:
1. Каждому уникальному значению делаем свой датафрейм
2. Применяем функцию (например, суммы) в каждому датафрейму
3. Результаты склеиваются в один датафрейм

Пример группировки:
* Подсчет суммы продаж по странам
* Подсчет средней стоимости продаж по странам

In [61]:
df = pd.DataFrame({'order_id': [1, 2, 3, 4, 5], 'country': ['Россия', 'Китай', 'Китай', 'Россия', 'Россия'], 
                   'category': ['Электроника', 'Авто', 'Электроника', 'Авто', 'Авто'], 
                   'amount': [100, 80, 90, 140, 90]})
df

   order_id country     category  amount
0         1  Россия  Электроника     100
1         2   Китай         Авто      80
2         3   Китай  Электроника      90
3         4  Россия         Авто     140
4         5  Россия         Авто      90

In [65]:
# Решение задачи вручную
df_russia = df[df['country'] == 'Россия']
print(df_russia)
df_china = df[df['country'] == 'Китай']
print(df_china, "\n")

# Посчитаем среднюю стомость заказа, разницу между макс и мин стоимостью заказа
print("Средняя для России", df_russia.amount.mean())
print("Размах для России", df_russia.amount.max() - df_russia.amount.min())
print("Средняя для Китая", df_china.amount.mean())
print("Размах для Китая", df_china.amount.max() - df_china.amount.min())

   order_id country     category  amount
0         1  Россия  Электроника     100
3         4  Россия         Авто     140
4         5  Россия         Авто      90
   order_id country     category  amount
1         2   Китай         Авто      80
2         3   Китай  Электроника      90

Средняя для России 110.0
Размах для России 50
Средняя для Китая 85.0
Размах для Китая 10

In [67]:
# Объединим процесс разбиения на датафреймы
def groupby_func(data):
    return data.amount.max() - data.amount.min()

In [68]:
df.groupby('country').apply(groupby_func)

country
Китай     10
Россия    50
dtype: int64

In [70]:
stats['campaign'].value_counts().head()

campaign
7f35591a28    456
8e77a0e565    348
2cc2e7d770    240
f6d2ae1e3d    220
e90f4db55a    218
Name: count, dtype: int64

In [72]:
# Чтобы получился value_counts, нужно еще отрезать ненужные столбцы и отсортировать
stats.groupby('campaign').count().head()

,group,phrase,effect,ad_id,title,text,link,word_count,power_up,mrt
campaign,,,,,,,,,,
034ada41b6,3,3,3,3,3,3,3,3,3,3
03fcaecd1d,2,2,2,2,2,2,2,2,2,2
0697a81555,2,2,2,2,2,2,2,2,2,2
08cdcb57a3,3,3,3,3,3,3,3,3,3,3
0f0ba311fb,2,2,2,2,2,2,2,2,2,2

In [73]:
stats.groupby('campaign').count()[['group', 'effect']].head()

            group  effect
campaign
034ada41b6      3       3
03fcaecd1d      2       2
0697a81555      2       2
08cdcb57a3      3       3
0f0ba311fb      2       2

In [74]:
# После группировки столбец по которому происходит группировка становится индексом
# Если нужно вернуть столбец из индекса - метод reset_index()
stats.groupby('campaign').count().reset_index().head()

,campaign,group,phrase,effect,ad_id,title,text,link,word_count,power_up,mrt
0,034ada41b6,3,3,3,3,3,3,3,3,3,3
1,03fcaecd1d,2,2,2,2,2,2,2,2,2,2
2,0697a81555,2,2,2,2,2,2,2,2,2,2
3,08cdcb57a3,3,3,3,3,3,3,3,3,3,3
4,0f0ba311fb,2,2,2,2,2,2,2,2,2,2

In [75]:
# К группировке можно применять разные функции таким образом:
obj = stats.groupby('campaign')
type(obj)

pandas.core.groupby.generic.DataFrameGroupBy

In [77]:
obj.max().head(1)

,group,phrase,effect,ad_id,title,text,link,word_count,power_up,mrt
campaign,,,,,,,,,,
034ada41b6,в недорого москва мрт,в москве открытого типа адрес мрт -цена,9.0,2428554779,Адрес МРТ открытого типа в Москве,24 часа. От 2 000₽. Консультация врача бесплат...,https://awesome-site.ru/?utm_source=yandex&utm...,7,729.0,False

In [79]:
# Несколько функций в группировках (передаются в методе agg)
stats.groupby('campaign').agg(['min', 'max'])['effect'].head()

            min  max
campaign
034ada41b6  4.1  9.0
03fcaecd1d  4.0  6.5
0697a81555  4.0  5.5
08cdcb57a3  5.5  7.4
0f0ba311fb  4.4  6.4

In [81]:
# разные метрики для разных столбцов
results = stats.groupby('campaign').agg({'effect': ['min', 'max'], 'power_up': 'mean'})
results.head()

           effect         power_up
              min  max        mean
campaign
034ada41b6    4.1  9.0  470.682000
03fcaecd1d    4.0  6.5  169.312500
0697a81555    4.0  5.5  115.187500
08cdcb57a3    5.5  7.4  245.991333
0f0ba311fb    4.4  6.4  173.664000

In [84]:
# Обращение к вложенной структуре столбцов
results['effect']['max'].head()

campaign
034ada41b6    9.0
03fcaecd1d    6.5
0697a81555    5.5
08cdcb57a3    7.4
0f0ba311fb    6.4
Name: max, dtype: float64

In [85]:
# или даже так
stats.groupby('campaign').agg({'effect': ['min', 'max'], 'power_up': 'mean'})\
['effect']['max'].head()

campaign
034ada41b6    9.0
03fcaecd1d    6.5
0697a81555    5.5
08cdcb57a3    7.4
0f0ba311fb    6.4
Name: max, dtype: float64

In [86]:
stats.groupby(['group', 'campaign']).count().head()

                                 phrase  effect  ad_id  title  text  link  \
group                campaign
1 5 москва мрт тесла 777160ba51       1       1      1      1     1     1
                     8e77a0e565       1       1      1      1     1     1
                     f0079349af       1       1      1      1     1     1
1 градская мрт       7f35591a28       3       3      3      3     3     3
1 мрт нагатинский    8e77a0e565       1       1      1      1     1     1

                                 word_count  power_up  mrt
group                campaign
1 5 москва мрт тесла 777160ba51           1         1    1
                     8e77a0e565           1         1    1
                     f0079349af           1         1    1
1 градская мрт       7f35591a28           3         3    3
1 мрт нагатинский    8e77a0e565           1         1    1

In [88]:
# максимальное число объявлений в одной группе

stats.groupby(['group', 'campaign'])\
.count().sort_values('phrase', ascending=False).head()

,,phrase,effect,ad_id,title,text,link,word_count,power_up,mrt
group,campaign,,,,,,,,,
мрт на алексеевской кулаков переулок 13,7f35591a28,3,3,3,3,3,3,3,3,3
мрт каширское шоссе,7f35591a28,3,3,3,3,3,3,3,3,3
мрт кутузовский,7f35591a28,3,3,3,3,3,3,3,3,3
мрт куркинское шоссе 30,7f35591a28,3,3,3,3,3,3,3,3,3
мрт куркино,7f35591a28,3,3,3,3,3,3,3,3,3

## Вебинар

Что возвращает метод count()?

-> Количество непустых строк

Для подсчета количества строк используется len()

Какие значения ключей показывает группировка?

-> Только непустые ключи

.cumsum - накопленная сумма

Оконные функции здесь реализованы с помощью группировок

In [ ]:
df.groupby('city').agg({'sales': 'count'})
df.groupby('city').agg({'sales': ['min', 'max']}, 'region': 'count')

In [102]:
# Это не является полноценной копией. В данном случае у одного объекта
# есть два указателя (а, b)
a = [1, 2, 3]
b = a
print(id(a), id(b))
a.append(10)
a, b

5043580160 5043580160

([1, 2, 3, 10], [1, 2, 3, 10])

In [101]:
# Полноценное копирование
c = [1, 2, 3]
d = c.copy()
print(id(c), id(d))
c.append(10)
c, d

5043090560 5043446272

([1, 2, 3, 10], [1, 2, 3])

### Тесты

Если есть какая-то логика, лучше писать тесты
* Проверка логики
* Защита от некорректных изменений
* Помогут разобраться на этапе разработки кода

Нужна функция, проверяющая корректность строки из трех столбцов:
* Идентификатор пользователя
* Возраст пользователя
* Профессия

Хотим определять по этой строке возрастную категорию пользователей

TDD - test driven development

1. Пишем тесты как должна работать функция
2. Пишем сам код

В больших проектах используют библиотеки:
* unittest
* pytest

Совет: если на собеседовании просят написать функцию, подумать, сработают ли они если приходят '', 0, [], {}, pd.DataFrame() (Пустые данные)

Какие могут быть категории:
- дети
- студенты
- рабочие
- пенсионеры

In [ ]:
# Сначала нужно понять, откуда берутся данные
# Если профессии берутся из БД
# Если профессию заполняют сотрудники в филиалах
assert row_is_correct('111,30,аналитик') # True
assert not row_is_correct('111,,') # False
assert not row_is_correct('111,30,') # False
assert not row_is_correct('111,30,аналитик данных') # False

In [ ]:
# Если справа True, то ничего не делает. Если False - падает с ошибкой
assert row_is_correct(row) == True / False

In [106]:
row = '111,30,аналитик'

In [103]:
def line_is_correct(line):
    values_list = line.split(',')
    
    if len(values_list) != 3:
        return False
    
    column_1, column_2, column_3 = values_list
    
    if not str.isnumeric(column_2):
        return False
    
    if not column_3.strip():
        return False
    
    return True

In [92]:
%%time
# Homework task 1
import pandas as pd

df = pd.read_csv('Homework/ratings.csv')
print(df.info(), "\n")

def rate_func(value):
    if value <= 2:
        return 'низкий рейтинг'
    if value > 2 and value <= 4:
        return 'средний рейтинг'
    if value > 4:
        return 'высокий рейтинг'
    return 'none'

# В функцию в параметр value передается стобец rating (тип series)
df['class'] = df['rating'].apply(rate_func)

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB
None

CPU times: user 4.68 s, sys: 861 ms, total: 5.54 s
Wall time: 5.71 s

          userId  movieId  rating   timestamp            class
0              1      296     5.0  1147880044  высокий рейтинг
1              1      306     3.5  1147868817  средний рейтинг
2              1      307     5.0  1147868828  высокий рейтинг
3              1      665     5.0  1147878820  высокий рейтинг
4              1      899     3.5  1147868510  средний рейтинг
...          ...      ...     ...         ...              ...
25000090  162541    50872     4.5  1240953372  высокий рейтинг
25000091  162541    55768     2.5  1240951998  средний рейтинг
25000092  162541    56176     2.0  1240950697   низкий рейтинг
25000093  162541    58559     4.0  1240953434  средний рейтинг
25000094  162541    63876     5.0  1240952515  высокий рейтинг

[25000095 rows x 5 columns]

In [94]:
%%time
# Homework task 2
key_words = pd.read_csv('Homework/keywords.csv')
print(key_words.head(3))

print(key_words.info())

geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def geo_func(value):
    if ('москва' or 'тула' or 'ярославль') in value:
        return 'Центр'
    if ('петербург' or 'псков' or 'мурманск') in value:
        return 'Северо-Запад'
    if ('владивосток' or 'сахалин' or 'хабаровск') in value:
        return 'Дальний Восток'
    return 'undefined'

key_words['region'] = key_words['keyword'].apply(geo_func)

# проверка результата работы
print(key_words[key_words['region'].isin\
                           (['Центр', 'Северо-Запад', 'Дальний Восток'])].head(10))
print(key_words)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   keyword  100000 non-null  object
 1   shows    100000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB
None
                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
1063        фарпост владивосток  176951  Дальний Восток
1236       банк санкт петербург  174375    Северо-Запад
1259                     москва  153050           Центр
1346            санкт петербург  144232    Северо-Запад
1396            гисметео москва  140279           Центр
1482           госуслуги москва  133061           Центр
1682              погода москва  151701           Центр
                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]
CPU times: user 86 ms, sys: 11.2 ms, total: 97.1 ms
Wall time: 97.5 ms